body{
    margin: 0;
    background-color: black;
    color: #ffffff;
}
.flex{
    display: flex;
}
.wrap{
    flex-wrap: wrap;
}

/* Estructuras */
/*Footer*/
footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "up version mail"
    ;
    text-align: center;
}

.up{
    grid-area: up;
}
.version{
    grid-area: version;
}
.mail{
    grid-area: mail;
}
/*Header*/
/*Cos*/
.imgPersonal{
    text-align: center;
}
.imgPersonal img{
    width: 25%;
    border-radius: 100%;
    border: 3px #FF00CC90 solid;
}

/*Header*/
header{
    text-align: center;
}
header ul{
    list-style: none;
    padding: 0;
}
header a{
    text-decoration: none;
    color: #ffffff;
    transition: 0.2s;
}
header a:hover{
    color: #FF00CC90;
}
#pdf a{
    text-decoration: none;
    color: #ffffff;
    transition: 0.2s;
}
#pdf:hover a{
    color: #FF00CC90;
}

/*Cos html*/
.descripcio{
    text-align: center;
}
h1{
    text-align: center;
}
.cuadros{
    width: 80%;
    gap: 10px;
    justify-content: center;
    margin: 0 auto;
}
.git{
    background-color: #ffffff;
}
.cuadros div{
    opacity: 60%;
    padding: 2px;
    width: 17%;
    display: flex;
    border-radius: 10px;
    border: 2px solid #FF00CC90;
    transition: 0.3s;
}
.cuadros img{
    width: 30%;
    border-radius: 15px;
}
.cuadros p{
    width: 60%;
    margin: auto;
}
.cuadros div:hover{
    text-shadow: 2px 2px 3px #FF00CC90;
    width: 19%;
    opacity: 100%;
}
.boton{
    margin-top: 25px;
    text-align: center;
}
button{
    background-color: black;
    border: 1px solid #FF00CC90;
    border-radius: 5px;
    width: auto;
    height: 25px;
    opacity: 75%;
    transition: 0.2s;
}
button:hover a, button:hover{
    color: #FF00CC90;
    opacity: 100%;
}
button a{
    color: #ffffff;
    text-decoration: none;
    transition: 0.2s;
}
.centrat{
    text-align: center;
    margin: auto auto 25px auto;
}
#cv{
    text-align: center;
}
#cv a{
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s;
}
#cv a:hover{
    color: #FF00CC90;
}
.fonsBlanc{
    background-color: #ffffff;
}
#barra_cv{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "imgP txt txt"
    ;
    margin-top: 100px;
    background-color: #03005399;
    height: 200px;
}
#barra_cv .imgPersonal{
    grid-area: imgP;
    position: relative;
    right: 25px;
    bottom: 120px;
}
#barra_cv .imgPersonal img{
    width: 50%;
}
.upTxt{
    grid-area: txt;
}
#nom_cv{
    position: relative;
    right: 100px;
    bottom: 50px;
    font-size: 35px;
}
#cognom_cv{
    position: relative;
    right: 75px;
    bottom: 50px;
    font-size: 25px;
}
#subtitle_cv{
    position: relative;
    bottom: 50px;
}
#barra_cv #idiomas{
    position: relative;
    bottom: 65px;
}
#barra_cv #idiomas p{
    color: #888888;
    margin: auto auto auto 25px;
}
#idiomas{
    position: relative;
    right: 25px;
}
#idiomas p{
    color: #888888;
    margin: auto 0px auto 25px;
}
p{
    margin-left: 25px;
}
h3{
    margin-left: 20px;
}
h1,h2{
    margin-left: 15px;
}
.flex_0{
    display: flex;
}
.flex_1{
    display: flex;
}
#idiomas .flex_0{
    justify-content: center;
}
/*Footer*/
footer{
    text-align: center;
}
footer img{
    width: 35px;
    height: 35px;
}
.arrow{
    width: 22%;
    margin: auto;
}
footer .copy1, .Flexa1{
    display: none;
}
.gmail:hover .copy{
    display: none;
}
.gmail:hover .copy1{
    display: block;
}
footer .arrow:hover .Flexa0{
    display: none;
}
footer .arrow:hover .Flexa1{
    display: block;
}
.version p{
    margin-left: 0px;
}
@media (max-width: 1200px){
    #barra_cv .imgPersonal{
        width: 100%;
    }
}
@media (max-width: 900px){
    #idiomas h3{
        text-align: center;
    }
    #barra_cv #idiomas h3{
        text-align: left;
    }
    .imgPersonal img{
        width: 35%;
    }
    #barra_cv .imgPersonal{
        bottom: 90px;
    }
    #barra_cv .imgPersonal img{
        width: 70%;
    }
    .flex_0{
        display: block;
    }
    #barra_cv #idiomas .flex{
        position: relative;
        bottom: 15px;
    }
    #nom_cv{
        right: 65px;
    }
    #cognom_cv{
        right: 50px;
    }
}
@media (max-width: 700px){
    .cuadros img{
        display: none;
    }
    .cuadros p{
        text-align: center;
        width: 100%;
    }
    footer{
        display: block;
    }
    footer .flex{
        justify-content: center;
    }
    #barra_cv .imgPersonal{
        right: 5px;
    }
    #barra_cv .imgPersonal img{
        width: 90%;
    }
    #subtitle_cv{
        right: 75px;
    }
    #nom_cv{
        right: 0px;
    }
    #cognom_cv{
        right: 20px;
    }
    #barra_cv #idiomas{
        right: 100px;
    }
    #barra_cv #idiomas p{
        margin: auto auto auto 10px;
    }
}
@media (max-width: 500px){
    #barra_cv #idiomas p{
        margin: auto auto auto 5px;
    }
    #idiomas p{
        margin: auto;
    }
    #idiomas .flex{
        margin-left: 25px;
    }
    .cuadros div{
        width: auto;
    }
    #barra_cv #idiomas .flex{
        left: 25px;
    }
    #barra_cv .imgPersonal{
        bottom: 60px;
    }
    footer .flex p{
        margin: auto;
    }
}
@media (max-width: 400px){
    #barra_cv .imgPersonal img{
        width: 95%;
    }
    #barra_cv .imgPersonal{
        right: 0px;
        left: 5px;
    }
    #barra_cv .flex_1{
        margin: auto;
        justify-content: center;
    }
    #barra_cv{
        height: 225px;
    }
    #barra_cv #idiomas{
        justify-content: center;
        right: 60px;
    }
    #barra_cv #idiomas h3{
        margin-left: 0px;
    }
}