body{
    margin: 0;
    background-color: black;
    color: #ffffff;
}
.flex{
    display: flex;
}
.wrap{
    flex-wrap: wrap;
}

/* Estructuras */
/*Header*/
header{
    text-align: center;
}
header ul{
    list-style: none;
    padding: 0;
}
header a{
    text-decoration: none;
    color: #ffffff;
    transition: 0.2s;
}
header a:hover{
    color: #FF00CC90;
}

/*body*/
.imgPersonal{
    text-align: center;
}
.imgPersonal img{
    width: 25%;
    border-radius: 100%;
    border: 3px #FF00CC90 solid;
}
.descripcio{
    text-align: center;
}
.descripcion{
    width: 50%;
    margin: auto;
}
h1{
    text-align: center;
}
.cuadros{
    width: 80%;
    gap: 10px;
    justify-content: center;
    margin: 0 auto;
}
.git{
    background-color: #ffffff;
}
.cuadros div{
    opacity: 60%;
    padding: 2px;
    width: 17%;
    display: flex;
    border-radius: 10px;
    border: 2px solid #FF00CC90;
    transition: 0.3s;
}
.cuadros img{
    width: 30%;
    border-radius: 15px;
}
.cuadros p{
    width: 60%;
    margin: auto;
}
.cuadros div:hover{
    text-shadow: 2px 2px 3px #FF00CC90;
    width: 19%;
    opacity: 100%;
}
.boton{
    margin-top: 25px;
    text-align: center;
}
button{
    background-color: black;
    border: 1px solid #FF00CC90;
    border-radius: 5px;
    width: auto;
    height: 25px;
    opacity: 75%;
    transition: 0.2s;
}
button:hover a, button:hover{
    color: #FF00CC90;
    opacity: 100%;
}
button a{
    color: #ffffff;
    text-decoration: none;
    transition: 0.2s;
}
.centrat{
    text-align: center;
    margin: auto auto 25px auto;
}
#cv{
    text-align: center;
}
#cv h1,#cv h2{
    margin-left: 0;
}
#cv a{
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s;
}
#cv a:hover{
    color: #FF00CC90;
}
#idiomas{
    position: relative;
    right: 25px;
}
#idiomas p{
    color: #888888;
    margin: auto 0px auto 25px;
}
p{
    margin-left: 25px;
}
h3{
    margin-left: 20px;
}
h1,h2{
    margin-left: 15px;
}
.descripcion h1{
    margin-left: 0;
}
.flex_0{
    display: flex;
}
.flex_1{
    display: flex;
}
#idiomas .flex_0{
    justify-content: center;
}
/*Footer*/
footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "up version mail"
    ;
    text-align: center;
}

.up{
    grid-area: up;
}
.version{
    grid-area: version;
}
.mail{
    grid-area: mail;
}
footer img{
    width: 35px;
    height: 35px;
}
.arrow{
    width: 22%;
    margin: auto;
}
footer .copy1, .Flexa1{
    display: none;
}
.gmail:hover .copy{
    display: none;
}
.gmail:hover .copy1{
    display: block;
}
footer .arrow:hover .Flexa0{
    display: none;
}
footer .arrow:hover .Flexa1{
    display: block;
}
.version p{
    margin-left: 0px;
}