.container {
    width: 100%;
}

a{
    cursor: pointer;
}

.oscuro {
    background-color: #000011;
    color: #dddddd;
    padding-top: 16px;
}

.claro {
    color: #000000;
    padding-top: 16px;
}

.change {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    margin-left: 16px;
    background-repeat: no-repeat;
    background-position: center;
}

.displayFlex {
    display: flex;
}

.column{
    flex-direction: column;
}

.spaceEvenly {
    justify-content: space-evenly;
}

.gap10 {
    gap: 10px;
}

.textCenter {
    text-align: center;
}

.oneLine {
    white-space: noWrap;
}

.w40 {
    width: 40%;
    box-shadow: 5px 5px 15px -10px #A037A6;
    border-radius: 10px;
}

.w80{
    width: 80%;
}

.oscuro a {
    font-size: 25px;
    margin: 0 auto;
    text-decoration: none;
    transition: 0.3s;
}

.oscuro a:hover {
    font-size: 27px;
    font-weight: bold;
    color: #ddddff;
}

.claro a {
    font-size: 25px;
    margin: auto;
    text-decoration: none;
    transition: 0.3s;
}

.claro a:hover {
    font-size: 27px;
    font-weight: bold;
    color: #111122;
}

.proyecto img{
    border: 1px solid #ddddff11;
    border-radius: 15px;
}