body {
    margin: 0;
    background-color: #eeeeee;
    overflow: hidden;
}

.meImg {
    width: 25%;
    overflow: hidden;
    position: relative;
}

.oscuro .meImg img {
    opacity: 0.9;
}

.meImg img {
    width: 98%;
    box-shadow: 5px 5px 15px -5px #A037A6;
    border-radius: 100%;
}

.cursor{
    position: absolute;
    top: 30%;
    right: 10%;
    z-index: 100;
    width: 32px !important;
    height: 32px !important;
    box-shadow: none !important;
}

.conocimientos {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 40%;
    margin: 20px auto 0 auto;
}

.oscuro .conocimiento {
    background-color: #111112;
}

.claro .conocimiento {
    background-color: #dddddd;
}

.conocimiento {
    display: flex;
    align-items: center;
    padding: 10px;
    box-shadow: 5px 5px 15px -5px #A037A6;
    border-radius: 25px;
    text-align: center;
    font-size: 25px;
    transition: 0.3s;
    cursor: pointer;
}

.conocimiento img {
    width: 25%;
}

.conocimiento p {
    width: 75%;
    margin: auto;
}

.oscuro .conocimiento:hover {
    background-color: #151520;
}

.claro .conocimiento:hover {
    background-color: #cccccc;
}

.softSkills {
    font-size: 18px;
    width: 15% !important;
}


.softSkills:hover {
    font-size: 20px;
    width: 20% !important;
}

.conocimiento:hover {
    font-size: 27px;
    background-color: #cccccc;
}

.githubBack {
    background-color: #444444;
    border-radius: 100px;
}

.redondeadoConocimiento {
    border-radius: 20px;
}

.giro {
    transform: scaleX(-1);
}

.displayNone {
    display: none !important;
}

div.giro.conocimiento {
    grid-column: span 2;
}

.descripcioConocimiento{
    font-size: 15px !important;
}