.oscuro .masDeMi {
    color: #ffffff;
}

.claro .masDeMi {
    color: #000000;
}

.masDeMi {
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.masDeMi a {
    margin: auto !important;
}

.masDeMi a.move {
    margin: 0 auto !important;
}

.carrucel .w40 {
    width: 70% !important;
}

.mail:hover {
    cursor: pointer;
}

.infoContacto {
    justify-content: center;
}

.oscuro .titleChange {
    color: #555;
}

.oscuro .titleChange img {
    background-color: #ffffff;
    border-radius: 100%;
}

.claro .titleChange {
    color: #000033;
}

.oscuro .titleChange:hover {
    color: #eeeeff;
}

.claro .titleChange:hover {
    color: #222255;
}