.oscuro .portada {
    color: #ffffff;
}

.claro .portada {
    color: #000000;
}

.portada {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.portada h1 {
    margin-bottom: 0;
}

.portada p {
    text-align: center;
}

.oscuro .portada a {
    text-decoration: none;
    color: #ffffff;
}

.claro .portada a {
    text-decoration: none;
    color: #ffffff;
}

.descripcioConocimiento {
    font-size: 20px !important;
}

.portada h1 {
    font-size: 50px;
}

.textPortada {
    font-size: 20px;
    font-weight: 700;
}