@media (max-width: 1024px) {
    .conocimientos {
        width: 80%;
    }

    .meImg {
        width: 35%;
    }

    .oscuro .masDeMi h1 {
        font-size: 30px;
    }

    .oscuro .masDeMi h2 {
        font-size: 20px;
    }

    .oscuro .masDeMi p {
        font-size: 15px;
    }

    .conocimiento {
        font-size: 18px;
        width: 25%;
    }

    .conocimiento:hover {
        width: 27%;
        font-size: 20px;
        cursor: pointer;
    }

    .masDeMi div.spaceEvenly {
        gap: 10px;
        flex-wrap: wrap;
    }

    .w40 {
        width: 48% !important;
    }

    .w40 h1 {
        font-size: 25px;
        font-weight: 900;
        margin-top: 0px;
    }

    .w40 h2 {
        font-size: 15px;
    }

}

@media (max-width: 480px) {
    .w40 h2 {
        font-size: 24px !important;
        font-weight: 700;
    }

    .meImg {
        width: 60%;
    }

    .portada {
        justify-content: start !important;
        padding-top: 50px;
    }

    .conocimiento {
        width: 40%;
    }

    .conocimiento:hover {
        width: 42%;
    }

    div.giro.conocimiento {
        width: 100%;
    }
}